<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>导师制学习</title>
		<link rel="stylesheet" type="text/css" href="../style.css" />
		<!--[if lt IE 7]>
			<script src="../js/IE7.js" type="text/javascript"></script>
		<![endif]-->
		<!--[if IE 6]>
	<script type="text/javascript" src="http://letskillie6.googlecode.com/svn/trunk/letskillie6.zh_CN.pack.js"></script>
		<![endif]-->
		<script type="text/javascript" src="../js/jquery.min.js"></script>
	</head>
	<body>
		<div id="container">
			<a id="partA" href="../index/index.html"></a>
			<!-- closes partA -->
			<div id="partB">
				<ul id="nav">
					<li>
						<a href=""><span>Index</span>课题首页</a>
					</li>
					<li>
						<a href="../intro/background.html"><span>Background</span>研究背景</a>
					</li>
					<li>
						<a href="../intro/step.html"><span>Step</span>研究步骤</a>
					</li>
					<li>
						<a href="../intro/aboutds.html"><span>About</span>关于导师</a>
					</li>
				</ul>
				<div id="artical">
					<h2><span>研究背景<span></h2>
					<img class="rightPart" src="../images/oxu.jpg" alt="" />
					<p> &nbsp;&nbsp;导师制最初产生于14世纪的英国, 创始人是曾任温切斯特主教和英格兰大法官的威廉威克姆。当时在牛津、剑桥率先实施导师制,以后逐渐在伦敦大学及其他许多学校推广。近几年来，高校导师制开始在中学中开展；最近我们级里也展开了实行“导师教学”的讨论和实践，并开始在部分学生中开始实行，这使我们对种崭新的教学制度产生了浓厚的兴趣；而且我们也相信，对于新制度的研究与实行，能够给我们的高中生活带来更多的转变。所以我们小组对此开展了以<strong>"有关导师教学制度的研究"</strong>为题的研究性学习活动.</p>
					<p>&nbsp;&nbsp;我们小组希望通过一系列调查研究来了解导师制、分析相关实行案例、与我校实行状况作横向对比，从而对导师制得到一个较为全面的认识和得到一些关于高中教学方案的启示。并且希望在本次研究学习中，提高我们的关注、分析，合作能力，培养我们的动手实践能力。</p>
					<p class="little"><span class="rightPart">牛津大学</span></p>
					<h2><span>预期成果</span></h2>
  					<p>&nbsp;&nbsp;成果展示：多媒体幻灯片、课题网站</p>
					<p>&nbsp;&nbsp;成果表现形式：文字、图表、图片等</p>
					<p>&nbsp;&nbsp;成果完成时间：两个月</p> 
				</div>
				<!-- closes artical -->
			</div>
			<!-- closes partB -->
		</div>
		<!-- closes container -->
		<div id="footer">
			<p class="home">&copy; 2010 DS.G All Right Reserverd.</p>
		</div>
		<!-- closes footer-->
	</body>
</html>
